.contact {
  background: $softBlue;
  padding: 3em 0;
  text-align: center;
  color: white;
  h4 {
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 0.8em;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 1em;
  }
  &__form {
    max-width: 450px;
    input {
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      border: none;
      outline: 0;
      display: block;
      padding: 1.2em;
      &::-webkit-input-placeholder {
        color: $grayishBlue;
      }
    }
    button {
      width: 100%;
      background: $softRed;
      margin: 0;
      margin-top: 1em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    .wrapper {
      max-width: 50%;
    }
    h3 {
      font-size: 2em;
    }
    &__form {
      display: flex;
      margin: 0 auto;
      input {
        padding: 0.5em;
      }
      button {
        width: 40%;
        margin: 0;
        margin-left: 20px;
      }
    }
  }
}
