.downloads {
  padding: 3em 0;
  text-align: center;
  &__card {
    width: 80%;
    padding: 1.5em;
    padding-top: 2.5em;
    margin-top: 2.5em;
    text-align: center;
    border-radius: 1em;
    background: url("../../images/bg-dots.svg") repeat-x center bottom 100px;
    box-shadow: 0 10px 11px -5px rgba($veryDarkBlue, 0.5);
    &-image {
      padding: 2em 0;
    }
    &-title {
      padding-bottom: 0.5em;
      font-size: 1.1em;
      font-weight: 500;
      color: $veryDarkBlue;
    }
    p {
      font-size: 0.8em;
      margin-bottom: 2em;
    }
    &-button {
      margin-top: 2em;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .cards__container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    justify-content: center;
    align-items: center;
    padding-bottom: 6em;
  }
  .downloads__card {
    &:nth-of-type(2) {
      top: 4em;
      position: relative;
    }
    &:nth-of-type(3) {
      top: 7em;
      position: relative;
    }
  }
}
