$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:focus {
  outline: none;
}

body {
  font-size: 18px;
  font-family: "Rubik", system-ui;
}

h2 {
  padding: 1em;
  font-size: 1.3em;
  font-weight: 500;
  color: $veryDarkBlue;
}
p {
  color: $grayishBlue;
  font-size: 0.85em;
  line-height: 1.8em;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 1.5em;
}

.button {
  background: $softBlue;
  color: white;
  padding: 1em 0.9em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 0.5em;
  margin-left: 0.5em;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 10px -5px $softBlue;
}
